<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings >
    <add name="cnx_mssql" connectionString="data source=TCP:192.168.1.5\DESA001,1434;initial catalog=DBPisersa;user id=sa;password=123456;persist security info=True;user id=sa;packet size=4096" />
  </connectionStrings >
</configuration>