<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Win32dtug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Win32dtug.Properties.Settings>
            <setting name="DataSource" serializeAs="String">
                <value>TCP:192.168.1.5\DESA001,1434</value>
            </setting>
            <setting name="InitialCatalog" serializeAs="String">
                <value>DBPisersa</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123456</value>
            </setting>
        </Win32dtug.Properties.Settings>
    </userSettings>
</configuration>