<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>

      <!--<add name="SGAP.Properties.Settings.ConectionString" connectionString="data source=CFREITAS\SQLEXPRESS;initial catalog=DBPisersa;user id=sa;password=Calistenia9;persist security info=True;user id=sa;packet size=4096" />-->
      <add name="SGAP.Properties.Settings.ConectionString" connectionString="data source=TCP:192.168.1.5\DESA001,1434;initial catalog=DBPisersa;user id=sa;password=123456;persist security info=True;user id=sa;packet size=4096" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>